<form role="form" name="form">
    <div class="form-group">
        <label for="debitor">Customer ID</label>
        <input type="text"
               cam-variable-name="debitor"
               cam-variable-type="String"
               class="form-control" />
    </div>
    <div class="form-group">
        <label for="existing_customer">Existierender Kunde?</label>
        <input type="checkbox"
               cam-variable-name="existing_customer"
               cam-variable-type="Boolean"
               class="form-control" />
    </div>
    <div class="form-group">
        <label for="customer_name">Name</label>
        <input cam-variable-name="customer_name"
            cam-variable-type="String"
            class="form-control" />
    </div>
</form>